DJANGO_SECRET_KEY=dev-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgresql://neondb_owner:npg_IL4DJwixCb7f@ep-old-glitter-adara3gi-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

DJANGO_ADMIN_USERNAME=adminuser
DJANGO_ADMIN_PASSWORD=AdminPass123
DJANGO_ADMIN_EMAIL=admin@example.com

REACT_APP_API_BASE_URL=http://localhost:8000
